.totalCaloriesIntakeToastChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 430px;
  height: 177px;
}
.youHaveTaken {
  margin: 0;
}
.youHaveTakenContainer1 {
  line-break: anywhere;
  width: 100%;
}
.youHaveTakenContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 430px;
  height: 177px;
}
.iconClose,
.totalCaloriesIntakeToast {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
.iconClose {
  position: absolute;
  height: 14.86%;
  width: 5.58%;
  top: 12.43%;
  right: 5.35%;
  bottom: 72.71%;
  left: 89.07%;
}
.totalCaloriesIntakeToast {
  background-color: var(--color-white);
  width: 430px;
  height: 177px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
